.header__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  padding-top: 10px;
  opacity: 1;
  transition-duration: 2s;
}

.header__link:hover{
  opacity: 0.6;
  transition-duration: 2s;
}

@media screen and (max-width: 450px) {
  .header__link{
    font-size: 14px;
    line-height: 17px;
    margin-right: 30px;
  }
}