@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/button/button.css);
@import url(./blocks/content/content.css);
/* header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__logout/header__logout.css);
/* profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
/* card */
@import url(./blocks/photo-grid/photo-grid.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__like-container/card__like-container.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like-number/card__like-number.css);
@import url(./blocks/card/__like/_active/card__like-active.css);
@import url(./blocks/card/__delete/card__delete.css);
@import url(./blocks/card/__delete/_hidden/_hidden.css);
/* footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
/* popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__edit-profile/popup__edit-profile.css);
@import url(./blocks/popup/__edit-info/popup__edit-info.css);
@import url(./blocks/popup/__button-save/popup__button-save.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__container-image/popup__container-image.css);
@import url(./blocks/popup/__image-form/popup__image-form.css);
@import url(./blocks/popup/__image-name/popup__image-name.css);
@import url(./blocks/popup/__image-url/popup__image-url.css);
@import url(./blocks/popup/__authorization-container/popup__authorization-container.css);
@import url(./blocks/popup/__authorization-image/popup__authorization-image.css);
@import url(./blocks/popup/__authorization-text/popup__authorization-text.css);
@import url(./blocks/popup/__authorization-close/popup__authorization-close.css);
/* validate */
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__edit-info/_error/popup__edit-info_error.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__form-set/popup__form-set.css);
/* authorization */
@import url(./blocks/authorization/authorization.css);
@import url(./blocks/authorization/__container/authorization__container.css);
@import url(./blocks/authorization/__title/authorization__title.css);
@import url(./blocks/authorization/__form/authorization__form.css);
@import url(./blocks/authorization/__info/authorization__info.css);
@import url(./blocks/authorization/__button/authorization__button.css);
@import url(./blocks/authorization/__text/authorization__text.css);